<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http//www.w3.org/ns/widgets" xmlnsgap="http//phonegap.com/ns/1.0" xmlnsandroid="http//schemas.android.com/apk/res/android" id="in.destinyahead.app" versionCode="1.0.0" version="1.0.0">
   <name>Destinyahead.in</name>
   <description>one stop destiny for all your need.
Now enjoy your favourite site on your phone in the form of app</description>
   <author href="https//www.mvnaidu.in" email="mvn@destinyahead.in">M VENKAT NAIDU</author>
   <feature name="http//api.phonegap.com/1.0/battery" />
   <feature name="http//api.phonegap.com/1.0/camera" />
   <feature name="http//api.phonegap.com/1.0/contacts" />
   <feature name="http//api.phonegap.com/1.0/" />
   <feature name="http//api.phonegap.com/1.0/geolocation" />
   <feature name="http//api.phonegap.com/1.0/media" />
   <feature name="http//api.phonegap.com/1.0/network" />
   <feature name="http//api.phonegap.com/1.0/notification" />
   <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
   <preference name="phonegap-version" value="cli-6.3.0" />
   <preference name="android-build-tool" value="gradle" />
   <preference name="orientation" value="default" />
   <preference name="fullscreen" value="true" />
   <preference name="target-device" value="universal" />
   <preference name="webviewbounce" value="true" />
   <preference name="prerendered-icon" value="false" />
   <preference name="stay-in-webview" value="true" />
   <preference name="ios-statusbarstyle" value="default" />
   <preference name="detect-data-types" value="true" />
   <preference name="exit-on-suspend" value="true" />
   <preference name="show-splash-screen-spinner" value="true" />
   <preference name="auto-hide-splash-screen" value="true" />
   <preference name="FadeSplashScreen " value="true" />
   <preference name="EnableViewportScale" value="false" />
   <preference name="MediaPlaybackRequiresUserAction" value="false" />
   <preference name="AllowInlineMediaPlayback" value="true" />
   <preference name="BackupWebStorage" value="none" />
   <preference name="TopActivityIndicator" value="white" />
   <preference name="KeyboardDisplayRequiresUserAction" value="true" />
   <preference name="KeyboardShrinksView " value="true" />
   <preference name="HideKeyboardFormAccessoryBar" value="true" />
   <preference name="SuppressesIncrementalRendering" value="false" />
   <preference name="windows-appx-target" value="uap" />
   <preference name="windows-arch" value="anycpu" />
   <preference name="windows-identity-name" value="" />
   <preference name="android-minSdkVersion" value="14" />
   <preference name="android-targetSdkVersion" value="23" />
   <preference name="android-maxSdkVersion" value="23" />
   <preference name="android-installLocation" value="auto" />
   <preference name="SplashScreenDelay" value="2000" />
   <preference name="ErrorUrl" value="null" />
   <preference name="BackgroundColor" value="0x000000" />
   <preference name="DisallowOverscroll" value="true" />
   <preference name="LoadingDialog" value="," />
   <preference name="LoadUrlTimeoutValue" value="null" />
   <platform name="ios" />
   <platform name="android">
      <icon src="pics\36x36.png" qualifier="ldpi" />
      <icon src="pics\48x48.png" qualifier="mdpi" />
      <icon src="pics\hdpi.png" qualifier="hdpi" />
      <icon src="pics\xhdpi.png" qualifier="xhdpi" />
      <icon src="pics\xxhdpi.png" qualifier="xxhdpi" />
      <icon src="pics\xxxhdpi.png" qualifier="xxxhdpi" />
      <splash src="pics\screens\android\screen-ldpi-portrait.png" qualifier="" />
      <splash src="pics\screens\android\screen-ldpi-landscape.png" qualifier="" />
      <splash src="pics\screens\android\screen-mdpi-portrait.png" qualifier="" />
      <splash src="pics\screens\android\screen-mdpi-landscape.png" qualifier="" />
      <splash src="pics\screens\android\screen-hdpi-portrait.png" qualifier="" />
      <splash src="pics\screens\android\screen-hdpi-landscape.png" qualifier="" />
      <splash src="pics\screens\android\screen-xhdpi-portrait.png" qualifier="" />
      <splash src="pics\screens\android\screen-xhdpi-landscape.png" qualifier="" />
      <splash src="pics\screens\android\screen-xxhdpi-portrait.png" qualifier="" />
      <splash src="pics\screens\android\screen-xxhdpi-landscape.png" qualifier="" />
      <splash src="pics\screens\android\screen-ldpi-landscape.png" qualifier="" />
      <splash src="pics\screens\android\screen-xxxhdpi-landscape.png" qualifier="" />
   </platform>
   <platform name="winphone" />
   <icon src="icon.png" />
   <access origin="www.destinyahead.in" subdomains="true" />
   <access origin="www.mvnaidu.in" subdomains="true" />
   <access origin="www.facebook.com" subdomains="true" />
   <allow-navigation href="*//*.mvnaidu.in/*" />
   <allow-intent href="http//mvnaidu.in/*" />
   <allow-intent href="*" />
</widget>